extends layout 

block links
    link(rel="stylesheet", href="../public/styles/editar.css")

block title 
    h1 Editar

block main 
  main.d-flex.justify-content-center.pb-5
    .container.px-5
      form.flex-column(name="dataForm", action=`/editar/${estudante.codigo}`, method="POST" onsubmit='return validarCampo()')
        // campo Nome
        .mb-3
          label.form-text(for='exampleInputText')
            | Nome 
            img(src='../public/imgs/icons8-pessoa.png' alt='pessoa')
          input#inputNome.form-control.corCampo(type='text' name="nome", value=`${estudante.nome}`)
          .text-danger.ms-4
            span#msgErroNome
        // Campo Email
        .mb-3
          label.form-text(for='exampleInputEmail')
            | E-mail 
            img(src='../public/imgs/icons8-enviar.png' alt='email')
          input#inputEmail.form-control.corCampo(type='text' name="email", value=`${estudante.email}`)
          .text-danger.ms-4
            span#msgErroEmail
        // Campo Telefone
        .mb-3
          label.form-text(for='exampleInputTel')
            | Telefone 
            img(src='../public/imgs/icons8-adicionar-telefone.png' alt='telefone')
          input#inputTel.form-control.corCampo(type='text' name="telWhats", value=`${estudante.telwhats}`)
          .text-danger.ms-4
            span#msgErroTel
        // Campo CPF
        .mb-3
          label.form-text(for='exampleInputText')
            | CPF 
            img(src='../public/imgs/icons8-edição-de-gramática.png' alt='doc')
          input#inputCPF.form-control.corCampo(type='text' name="cpf", value=`${estudante.cpf}`)
          .text-danger.ms-4
            span#msgErroCPF
        // Campo Mensagem
        .mb-4
          label.form-text(for='exampleFormControlMensagem')
            | Mensagem 
            img(src='../public/imgs/icons8-editar-mensagem.png' alt='mensagem')
          input#inputSms.form-control.corCampo(type='text' name="mensagem", value=`${estudante.mensagem}`)
          .text-danger.ms-4
            span#msgErroSms
        // Botão Enviar
        .d-flex.justify-content-center
            button.btn.btn-primary(type='submit') Enviar

block scripts
  script(src='../public/js/cadastrar.js')